<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:300' rel='stylesheet' type='text/css'>
	<link href="dist/iowa.min.css" rel="stylesheet">
	<title>Institute of War Aptitude</title>
</head>
<body>

{{{body}}}

</body>
<script src="dist/iowa.min.js"></script>
</html>