#summoner-info {
	min-height: 400px;
	background-color: rgba(236,240,241,0.95);
	padding: 15px;
	padding-right: 50px;
	margin: 20px 50px;
}

#summoner-info > img {
	position: absolute;
	width: 96px;
}

#name {
	font-size: 2em;
	color: #2c3e50;
	display: inline-block;
	margin-right: 5px;
}

#content {
	margin-left: 128px;
	height: 100%;
	position: relative;
	padding-top: 5px;
}

#separator {
	position: absolute;
	border-color: #95a5a6;
	width: 100%;
	top: 25px;
}

#sub-content {
	width: 100%;
	color: black;
	margin-top: 10px;
	padding-left: 134px;
}

#level {
	color: #c0392b;
}

#sidebar {
	width: 119px;
	position: absolute;
	color: black;
	margin-top: 60px;
	display: none;
}

.champion {
	z-index: 1;
	background-size: 100% auto;
	width: calc(50% - 20px);
	overflow: hidden;
	height: 200px;
	margin-bottom: 10px;
	margin-left: 13px;
	-webkit-filter: brightness(75%);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.champion > * {
	transition: .25s;
}

.champion:hover {
	-webkit-filter: brightness(100%);
	cursor: pointer;
}

.champion-footer {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.champion-stats {
	float: right;
	display: block;
	text-align: right;
	padding-right: 5px;
	padding-top: 4px;
}

.champion-footer > img {
	width: 48px;
	margin-right: 10px;
}

.champion-name {
	font-size: 1.5em;
	color: white;
	position: absolute;
	bottom: 9px;
	left: 53px;
}

.champion-title {
	font-style: italic;
	font-size: 1.2em;
	color: #bdc3c7;
	position: absolute;
	left: 106px;
	bottom: 10px;
	display: none;
}

.expanded-champion-stats {
	display: none;
	background-color: black;
	width: 100%;
	height: 430px;
	overflow: hidden;
	margin-left: 13px;
	margin-bottom: 10px;
}

footer {
	position: relative !important;
}

.indicator {
	margin: 10px;
	width: 40px;
	height: 40px;
	position: relative;
	display: inline-block;
}

.indicator:first-child {
	margin-left: 15px;
}

.champion-info-bar {
	width: 100%;
	height: 45px;
	background-color: black;
	padding-top: 10px;
	padding-right: 10px;
}

.champion-info {
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3000;
	margin-right: 5px;
	display: none;
	opacity: 0;
}

.champion-info-bar > .indicator {
	float: right;
}

.champion-info-bar > .champion-tag {
	float: right;
	margin-right: 15px;
	font-size: 1.2em;
	color: #3498db;
}

.champion-info-bar > .champion-tag:nth-of-type(1) {
	color: #9b59b6;
	font-weight: 700;
}

.champion-sidebar {
	width: 200px;
	background-color: black;
	height: 100%;
	float: right;
	color: white;
	padding: 0 10px;
	margin-top: -10px;
	line-height: 1.6;
}

.champion-sidebar-suffix {
	font-size: 0.8em;
	float: right;
}

.champion-sidebar-header {
	display: block;
	margin-top: 10px;
	color: #bdc3c7;
	font-size: 0.9em;
	font-family: "Raleway", sans-serif;
}

.champion-sidebar > ul {
	list-style-type: none;
	padding-left: 0;
}

.champion-sidebar > ul > li > a {
	color: #2980b9;
}

.champion-sidebar > ul > li > a:hover {
	color: #3498db;
}

.champion-tab:first-child {
	margin-left: 10px;
}

.champion-tab {
	margin-top: -5px;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px 20px 10px 20px;
	color: #bdc3c7;
	background-color: #2c3e50;
	transition: .25s;
	display: inline-block;
	cursor: pointer;
}

.champion-tab:hover {
	color: white;
}

.champion-tab-selected {
	color: white;
}

.champion-tabbed-content {
	width: calc(100% - 200px);
}

/* Responsive Styles */
@media screen and (max-width: 996px) {
	.champion {
		width: 100%;
	}

	.champion-sidebar {
		display: none;
	}

	.champion-tabbed-content {
		width: 100%;
	}

	.champion-tag {
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 991px) {
	.indicator {
		display: none !important;
	}
}

@media screen and (max-width: 768px) {
	.hidden-on-mobile {
		display: none;
	}

	#summoner-info {
		margin: 0;
	}

	#summoner-info img {
		width: 48px;
	}

	#content {
		margin-left: 60px;
		width: calc(100% - 60px);
	}

	#separator {
		top: 25px;
	}

	#sub-content {
		width: auto;
		padding-left: 0;
	}

	#sidebar {
		display: none !important;
	}
}

@media screen and (max-width: 625px) {
	.champion {
		height: 200px !important;
	}

	.champion-title {
		display: none !important;
	}

	.champion-name {
		bottom: 9px !important;
	}

	.indicator {
		margin: 5px !important;
		width: 30px !important;
		height: 30px !important;
	}

	.champion-name {
		font-size: 1.6em !important;
	}

	.champion-footer {
		height: 48px !important;
	}
}

@media screen and (max-width: 520px) {
	.indicator {
		display: none !important;
	}
}