#summoner-info {
	min-height: 400px;
	background-color: #ecf0f1;
	padding: 15px;
	padding-right: 50px;
	margin: 20px 50px;
}

#summoner-info > img {
	position: absolute;
	width: 96px;
}

#name {
	font-size: 2em;
	color: #2c3e50;
	display: inline-block;
	margin-right: 5px;
}

#content {
	margin-left: 128px;
	height: 100%;
	position: relative;
	padding-top: 5px;
}

#separator {
	position: absolute;
	border-color: #95a5a6;
	width: 100%;
	top: 25px;
}

#sub-content {
	width: 100%;
	padding-left: 134px;
}

#level {
	color: #c0392b;
}

#sub-content {
	color: black;
	margin-top: 10px;
}

.champion {
	z-index: 1;
	background-size: 100% auto;
	width: calc(50% - 20px);
	overflow: hidden;
	height: 200px;
	margin-bottom: 10px;
	margin-left: 13px;
	-webkit-filter: brightness(75%);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.champion > * {
	transition: .25s;
}

.champion:hover {
	-webkit-filter: brightness(100%);
	cursor: pointer;
}

.champion-footer {
	width: 100%;
	height: 48px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.champion-stats {
	float: right;
	display: block;
	text-align: right;
	padding-right: 5px;
	padding-top: 4px;
}

.champion-footer > img {
	width: 48px;
	margin-right: 10px;
}

.champion-name {
	font-size: 1.5em;
	color: white;
	position: absolute;
	bottom: 9px;
	left: 53px;
}

.champion-title {
	font-style: italic;
	font-size: 1.2em;
	color: #bdc3c7;
	position: absolute;
	left: 106px;
	bottom: 10px;
	display: none;
}

.champion-title:first-letter {
	text-transform: uppercase;
}

.expanded-champion-stats {
	display: none;
	background-color: #bdc3c7;
	width: 100%;
	height: 400px;
	overflow: hidden;
	margin-left: 13px;
	margin-bottom: 10px;
}

.progress-radial {
	float: left;
	margin-right: 10px;
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid #2f3439;
}

.progress-radial .overlay {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #fffde8;
	border-radius: 50%;
	margin-left: 8px;
	margin-top: 8px;
	text-align: center;
	line-height: 30px;
	font-size: 1.2em;
}

.progress-0 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-5 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-10 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-15 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-20 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-25 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-30 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-35 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-40 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-45 {
	background-image: linear-gradient(90deg, #2f3439 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-50 {
	background-image: linear-gradient(-90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-55 {
	background-image: linear-gradient(-72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-60 {
	background-image: linear-gradient(-54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-65 {
	background-image: linear-gradient(-36deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-70 {
	background-image: linear-gradient(-18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-75 {
	background-image: linear-gradient(0deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-80 {
	background-image: linear-gradient(18deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-85 {
	background-image: linear-gradient(36deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-90 {
	background-image: linear-gradient(54deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-95 {
	background-image: linear-gradient(72deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

.progress-100 {
	background-image: linear-gradient(90deg, #ff6347 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #000 50%, #2f3439 50%, #2f3439);
}

@media screen and (max-width: 996px) {
	.champion {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#summoner-info {
		margin: 0;
	}

	#summoner-info img {
		width: 48px;
	}

	#content {
		margin-left: 60px;
		width: calc(100% - 60px);
	}

	#separator {
		top: 25px;
	}

	#sub-content {
		width: auto;
		padding-left: 0;
		padding-top: 5px;
	}
}