<nav class="animsition fade-in-down-sm">
	<div id="logo">
		<div id="logo_top">I. O. W. A.</div>
		<div id="logo_bottom">Institute of War Aptitude</div>
	</div>
</nav>
<div class="animsition zoom-in-sm" id="main_content">
	<div id="left-side">
		<h1 id="challenge">Greetings, summoner.</h1>
		<p id="intro">
			What separates a silver player from a gold one? Many of the answers are clear from the bigger picture.
			The Institute of War Aptitude is here to help you out with that. We'll take a look at your match history, ranked games, and champion history. Using that data, we'll recommend champions to play and tips to improve your gameplay.
		</p>
		<div id="call-to-action">
			<input class="summoner-name-submit" type="text" maxlength="16" placeholder="Summoner Name">
			<select class="selectpicker summoner-region form-control">
				<option>NA</option>
				<option>EUW</option>
				<option>OCE</option>
			</select>
			<button class="summoner-name-go">Go!</button>
		</div>
	</div>
</div>