<nav class="animsition fade-in-down-sm" data-animsition-in-duration="750">
	<a id="logo" href="/">
		<div id="logo_top">I. o. W. A.</div>
		<div id="logo_bottom">Institute of War Aptitude</div>
	</a>
</nav>
<div class="animsition zoom-in-sm" id="main-content" data-animsition-in-duration="750">
	<div id="left-side">
		<h1 id="challenge">Greetings, summoner.</h1>
		<p id="intro">
			What separates a silver player from a gold one? Many of the answers are clear from the bigger picture.
			The Institute of War Aptitude is here to help you out with that. We'll take a look at your match history, ranked games, and champion history. Using that data, we'll recommend champions to play and tips to improve your gameplay.
		</p>
		<div id="call-to-action">
			{{#if error}}
				<div class="error">
					<div class="alert alert-danger">
						{{#if error.text}}
							{{{error.text}}}
						{{else}}
							An unknown error occurred when fetching data for your summoner profile. Please try again later, or check Riot Games' public status page <a href="http://status.leagueoflegends.com">here</a>.
						{{/if}}
					</div>
				</div>
			{{/if}}
			<input class="summoner-name-submit" type="text" maxlength="16" placeholder="Summoner Name">
			<select class="selectpicker summoner-region form-control">
				{{#each regions}}
					<option>{{toUpperCase this}}</option>
				{{/each}}
			</select>
			<button class="summoner-name-go form-control btn-primary">Go!</button>
		</div>
	</div>
</div>