<nav class="animsition fade-in-sm" data-animsition-in-duration="750">
	<a id="logo">
		<div id="logo_top">I. o. W. A.</div>
		<div id="logo_bottom">Institute of War Aptitude</div>
	</a>
</nav>
<div class="animsition zoom-in-sm container" id="main-content" data-animsition-in-duration="500">
	<h1>Error</h1>
	{{{error}}}
	<br><br>
	<a href="/">Return to Home</a>
</div>