<nav class="animsition fade-in-down-sm" data-animsition-in-duration="750">
	<div id="logo">
		<div id="logo_top">I. o. W. A.</div>
		<div id="logo_bottom">Institute of War Aptitude</div>
	</div>
</nav>
<div class="animsition zoom-in-sm container" id="main-content" data-animsition-in-duration="750">
	<div id="loading-summoner-info">
		<img src="{{imageUrl}}">
		<div id="content">
			<div id="name">{{name}}</div>
			<span id="level">LEVEL {{level}}</span>
			<hr id="separator">
			<div id="sub-content">
				Loading summoner info...
			</div>
		</div>
	</div>
</div>