nav {
	z-index: 2000;
	padding: 15px;
	width: 100%;
	height: 90px;
}

nav hr {
	border-color: #BDC3C7;
}

#logo {
	float: left;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
}

#logo_top {
	font-size: 2.2em;
}

#logo_bottom {
	font-size: 0.8em;
	display: block;
	color: #95A5A6;
}

footer {
	border-top: 1px solid #bdc3c7;
	width: 100%;
	height: 60px;
	margin-top: 30px;
	padding: 10px;
	z-index: 2000;
	position: absolute;
	bottom: 0;
	text-align: center;
	display: none;
}