/*
 * Global styles, applied to every page.
 * Colors: https://flatuicolors.com/
 */

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #ecf0f1;
	background-color: black;
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

#main-content {
	position: relative;
	z-index: 2000000;
}

input[type="text"] {
	font-family: "Lato", sans-serif;
	background-color: #bdc3c7;
	transition: .25s;
	padding: 8px 15px;
	font-size: 1em;
	outline: none;
	box-shadow: none;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 1px;
	color: black;
}

input[type="text"]:focus {
	background-color: #ecf0f1;
}

.form-control {
	display: inline-block;
	outline: none;
}

.summoner-name-submit {
	width: 240px;
}

/*
 * This works around the content flashing on poor network connections when loading.
 * See js/app.js for loading implementation.
 */
.animsition {
	display: none;
}

.error > .alert {
	border-radius: 0;
	color: white;
	background-color: #c0392b;
	border: none;
}

a {
	color: #bdc3c7;
	transition: .25s;
}

.a-dotted {
	border-bottom: 1px dotted #95a5a6;
}

a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	#background-shader {
		opacity: 1;
	}
}